<div class="card">
  <div class="card-content">
    <div class="media-content">
      <p class="title is-2 has-text-centered">Type Challange</p>
      <p class="is-6 has-text-centered"><span  *ngFor="let character of sentenceArray; index as i" [className]="character == inputtedTextArray[i]?'green':(i>inputtedText.length-1?'grey':'red')">{{ character }}</span></p>
      <input type="text" (keyup)="onChangeText($any($event.target).value)" class="input"/>
    </div>

    <div class="title has-text-centered" *ngIf="checkResult()">
      !!success!!
    </div>
  </div>
</div>